<a href="https://colab.research.google.com/github/ThitipongKan/DPDM65/blob/main/030865.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#import เพื่อดึง package data ตั้งชื่อเป็น pd
import pandas as pd
import numpy as np

In [1]:
from google.colab import drive #เชื่อม google drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive

In [5]:
project_df = pd.read_csv('/content/drive/MyDrive/DPDM65/Copy of opendata_project.csv')

In [7]:
project_df.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

##คำถามที่ซับซ้อน
1. ราคาเฉลี่ยของโครงการบ้านที่ขอนแก่น
2. โครงการบ้านที่ขอนแก่นมีทั้งหมดกี่โครงการ

##Query(Indexing)

#basic indexing

In [8]:
project_df.head()

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
4,199.0,project_16838,Baanpruksa Ratchapruek-345,บ้านพฤกษา ราชพฤกษ์-345,3,Townhome,ทาวน์โฮม,1930000.0,developer_1026,"Preuksa Real Estate Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2019-09-05 11:49:37,1970-01-02 07:00:00,2021-03-17 12:00:04,baania,https://baania.com/th/project/บ้านพฤกษา-ราชพฤก...

In [9]:
project_df['propertytype_name_en']

0        Detached House
1                 Condo
2              Townhome
3        Detached House
4              Townhome
              ...
23429          Townhome
23430          Townhome
23431        Commercial
23432    Detached House
23433    Detached House
Name: propertytype_name_en, Length: 23434, dtype: object

In [10]:
project_df['propertytype_name_en'][2]

'Townhome'

## Slicing

In [11]:
project_df.iloc[2,5]

'Townhome'

In [12]:
project_df.iloc[2:10,5:7]

  propertytype_name_en propertytype_name_th
2             Townhome             ทาวน์โฮม
3       Detached House                 บ้าน
4             Townhome             ทาวน์โฮม
5                Condo                คอนโด
6             Townhome             ทาวน์โฮม
7       Detached House                 บ้าน
8                Condo                คอนโด
9       Detached House                 บ้าน

## เลือกเฉพาะ data ที่ต้องการ ด้วย logical operation



```
table[list_of_logic]
```


```
list_of_logic ต้องมีขนาดเท่ากับจำนวน data ในตาราง
```

In [13]:
project_df3 = project_df.head(10)

In [14]:
project_df3[[True,True,False,True,False,False,True,False,False,False]]

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
0,7880.0,5ee08d64dda791001299b2a6,Winning Residence Sukhumvit Praksa,วินนิ่ง เรสซิเดนท์ สุขุมวิท แพรกษา,1,Detached House,บ้าน,3790000.0,developer_10678,"Winning Asset Plus Co., Ltd.",...,NaN,NaN,NaN,1.0,1.0,2020-06-10 14:36:04,NaN,2020-12-04 10:32:58,baania,https://baania.com/th/project/วินนิ่ง-เรสซิเดน...
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
3,20719.0,project_2010,Baan Sansabai 1,บ้านแสนสบาย 1,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-09-05 15:32:15,1970-01-02 07:00:00,2020-12-04 10:45:31,baania,https://baania.com/th/project/บ้านแสนสบาย-1-pr...
6,9219.0,5e86f32e5f777e0012d06c04,Setthasiri Lampang 2,เศรษฐศิริ ลำปาง 2,3,Townhome,ทาวน์โฮม,990000.0,5e8703595f777e0012d06c6d,"Sedsiri Property 2499 Co., Ltd.",...,NaN,NaN,NaN,NaN,1.0,2020-04-03 15:26:22,NaN,2021-01-06 17:00:07,baania,https://baania.com/th/project/เศรษฐศิริ-ลำปาง-...



```
# การสร้าง list_of_logics
```

In [16]:
project_df3['province_name_th']

0      สมุทรปราการ
1           ชลบุรี
2           ชลบุรี
3       นครราชสีมา
4         ปทุมธานี
5    กรุงเทพมหานคร
6            ลำปาง
7       นครราชสีมา
8    กรุงเทพมหานคร
9         พิษณุโลก
Name: province_name_th, dtype: object

In [17]:
project_df3['province_name_th']=='ชลบุรี'

0    False
1     True
2     True
3    False
4    False
5    False
6    False
7    False
8    False
9    False
Name: province_name_th, dtype: bool

In [18]:
project_df3[project_df3['province_name_th']=='ชลบุรี']

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
1,16689.0,project_11326,Gift Condominium,กิ๊ฟท์ คอนโดมิเนียม,2,Condo,คอนโด,1100000.0,developer_7319,"Gift Asset Land Co.,Ltd.",...,NaN,1.0,NaN,1.0,1.0,2017-10-30 15:38:48,2013-01-01 07:00:00,2020-12-04 10:49:00,baania,https://baania.com/th/project/กิ๊ฟท์-คอนโดมิเน...
2,290.0,62739c4089233e001362b001,Sanrak 9 Sukprayoon Nong Krathum,แสนรัก 9 ศุขประยูร หนองกระทุ่ม,3,Townhome,ทาวน์โฮม,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-05-05 16:43:28,NaN,2022-05-05 17:30:03,baania,https://baania.com/th/project/แสนรัก-9-ศุขประย...

โครงการบ้านที่ขอนแก่นมีทั้งหมดกี่โครงการ

In [19]:
project_df[project_df['province_name_th']=='ขอนแก่น']

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
38,21234.0,project_2211,Baan Rungrueang Village Khon Kaen,บ้านรุ่งเรืองวิลเลจ ขอนแก่น,3,Townhome,ทาวน์โฮม,10000000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-10-05 10:23:58,1970-01-02 07:00:00,2020-12-04 10:47:35,baania,https://baania.com/th/project/บ้านรุ่งเรืองวิล...
72,9451.0,project_1947,Baan Thai Samut Khon Kaen,บ้านไทยสมุทร ขอนแก่น,1,Detached House,บ้าน,3500000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-08-30 15:37:25,1970-01-02 07:00:00,2020-12-04 10:45:28,baania,https://baania.com/th/project/บ้านไทยสมุทร-ขอน...
118,73.0,project_1914,Ohana Condo,โอฮาน่า คอนโด,2,Condo,คอนโด,1400000.0,developer_10510,NaN,...,NaN,NaN,NaN,1.0,1.0,2016-08-26 10:30:49,2015-12-31 07:00:00,2022-02-24 16:30:07,baania,https://baania.com/th/project/โอฮาน่า-คอนโด-pr...
123,14988.0,620cba8f0ffdb300136d2055,Chatpetch garden ville luxury,ฉัตรเพชร การ์เด้นวิลล์ ลักซ์ชัวรี่,1,Detached House,บ้าน,11890000.0,developer_1646,"KHAENGSAK LAND & HOUSE PART., LTD.",...,NaN,NaN,1.0,1.0,1.0,2022-02-16 15:49:19,NaN,2022-02-16 16:00:11,baania,https://baania.com/th/project/ฉัตรเพชร-การ์เด้...
162,2178.0,621c2500a441d30014e1f1f4,Varalee Village Airport-Bypass Khonkaen,บ้านวราลี แอร์พอร์ต-บายพาส ขอนแก่น,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-02-28 08:27:28,NaN,2022-02-28 10:30:06,baania,https://baania.com/th/project/บ้านวราลี-แอร์พอ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23250,13734.0,620f5ba80ffdb300136d20d9,B Villa Khonkaen,บี วิลล่า ขอนแก่น,1,Detached House,บ้าน,2890000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,1.0,2022-02-18 15:41:12,NaN,2022-03-17 16:40:12,baania,https://baania.com/th/project/บี-วิลล่า-ขอนแก่...
23286,11718.0,62203b58c1620300140bc3cd,The Home Assets Nongyai Phase 2,เดอะ โฮม แอสเซ็ท หนองใหญ่ เฟส 2,1,Detached House,บ้าน,2690000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-03-03 10:51:52,NaN,2022-03-03 12:30:05,baania,https://baania.com/th/project/เดอะ-โฮม-แอสเซ็ท...
23288,12639.0,5ea283d578b3120012dd4c96,Urbana Ville @Chum Phae,เออบาน่าวิลล์ @ชุมแพ,1,Detached House,บ้าน,1990000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,1.0,2020-04-24 13:14:45,NaN,2022-02-11 15:30:03,baania,https://baania.com/th/project/เออบาน่าวิลล์-ชุ...
23337,1502.0,project_1961,Baan Sapsin Phun Thawi,บ้านทรัพย์สินพูนทวี,1,Detached House,บ้าน,2490000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,1.0,2016-08-31 11:05:45,1970-01-02 07:00:00,2020-12-04 10:45:29,baania,https://baania.com/th/project/บ้านทรัพย์สินพูน...
23357,9113.0,5fa3b6c5a3326800191e2bb0,Icon Villa Phase 8,ไอคอน วิลล่า เฟส 8,1,Detached House,บ้าน,3290000.0,5fa3ab92d0235b0019c196cc,"Icon Villa Group Co., Ltd.",...,NaN,NaN,NaN,NaN,NaN,2020-11-05 15:24:37,2021-01-01 07:00:00,2022-02-22 15:30:03,baania,https://baania.com/th/project/ไอคอน-วิลล่า-เฟส...

ราคาเฉลี่ยของโครงการบ้านที่ขอนแก่น

In [21]:
project_df4=project_df[project_df['province_name_th']=='ขอนแก่น']

In [32]:
 project_df4['price_min']

38       10000000.0
72        3500000.0
118       1400000.0
123      11890000.0
162             0.0
            ...
23250     2890000.0
23286     2690000.0
23288     1990000.0
23337     2490000.0
23357     3290000.0
Name: price_min, Length: 617, dtype: object

In [26]:
from numpy.core.fromnumeric import mean
mean

In [35]:
project_df['propertytype_name_th']=='บ้าน'

0         True
1        False
2        False
3         True
4        False
         ...
23429    False
23430    False
23431    False
23432     True
23433     True
Name: propertytype_name_th, Length: 23434, dtype: bool

ใช้ & -> and | -> or ในการรวมค่าความจริงที่เป็น list

In [40]:
project_df[(project_df['province_name_th']=='ขอนแก่น') & (project_df['propertytype_name_th']=='บ้าน')].describe()

,row_number,latitude,longitude,subdistrict_id,district_id,province_id,zipcode,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
count,413.000000,413.000000,413.000000,409.000000,413.000000,413.0,408.000000,283.000000,180.000000,48.000000,57.000000,16.000000,99.000000,40.000000,59.000000,171.000000
mean,11855.922518,16.444212,102.771408,2667.022005,2647.019370,2637.0,40019.588235,58.946996,2.227778,0.875000,0.859649,0.312500,0.919192,0.775000,0.898305,0.900585
std,6811.679517,0.110809,0.154864,45.279546,30.890342,0.0,59.596407,82.368274,1.758715,0.334219,0.350438,0.478714,0.273927,0.422902,0.304841,0.300097
min,26.000000,15.730169,102.056206,2639.000000,2638.000000,2637.0,40000.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5846.000000,16.412728,102.756256,2648.000000,2638.000000,2637.0,40000.000000,8.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
50%,12407.000000,16.453846,102.806077,2652.000000,2638.000000,2637.0,40000.000000,22.000000,2.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,17499.000000,16.486716,102.840276,2653.000000,2638.000000,2637.0,40000.000000,79.500000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,23398.000000,16.862644,103.084464,2851.000000,2850.000000,2637.0,40320.000000,470.000000,15.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [59]:
project_df2 = project_df[project_df['price_min']!='สามโคก']

In [60]:
project_df3 = project_df2[project_df2['price_min']!='เมืองปทุมธานี']

In [61]:
project_df4 = project_df3[project_df3['price_min']!='ลาดหลุมแก้ว']

In [68]:
project_df4.astype({'price_min':np.float64})

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_meeting,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project
38,21234.0,project_2211,Baan Rungrueang Village Khon Kaen,บ้านรุ่งเรืองวิลเลจ ขอนแก่น,3,Townhome,ทาวน์โฮม,10000000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-10-05 10:23:58,1970-01-02 07:00:00,2020-12-04 10:47:35,baania,https://baania.com/th/project/บ้านรุ่งเรืองวิล...
72,9451.0,project_1947,Baan Thai Samut Khon Kaen,บ้านไทยสมุทร ขอนแก่น,1,Detached House,บ้าน,3500000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2016-08-30 15:37:25,1970-01-02 07:00:00,2020-12-04 10:45:28,baania,https://baania.com/th/project/บ้านไทยสมุทร-ขอน...
118,73.0,project_1914,Ohana Condo,โอฮาน่า คอนโด,2,Condo,คอนโด,1400000.0,developer_10510,NaN,...,NaN,NaN,NaN,1.0,1.0,2016-08-26 10:30:49,2015-12-31 07:00:00,2022-02-24 16:30:07,baania,https://baania.com/th/project/โอฮาน่า-คอนโด-pr...
123,14988.0,620cba8f0ffdb300136d2055,Chatpetch garden ville luxury,ฉัตรเพชร การ์เด้นวิลล์ ลักซ์ชัวรี่,1,Detached House,บ้าน,11890000.0,developer_1646,"KHAENGSAK LAND & HOUSE PART., LTD.",...,NaN,NaN,1.0,1.0,1.0,2022-02-16 15:49:19,NaN,2022-02-16 16:00:11,baania,https://baania.com/th/project/ฉัตรเพชร-การ์เด้...
162,2178.0,621c2500a441d30014e1f1f4,Varalee Village Airport-Bypass Khonkaen,บ้านวราลี แอร์พอร์ต-บายพาส ขอนแก่น,1,Detached House,บ้าน,0.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-02-28 08:27:28,NaN,2022-02-28 10:30:06,baania,https://baania.com/th/project/บ้านวราลี-แอร์พอ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23250,13734.0,620f5ba80ffdb300136d20d9,B Villa Khonkaen,บี วิลล่า ขอนแก่น,1,Detached House,บ้าน,2890000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,1.0,2022-02-18 15:41:12,NaN,2022-03-17 16:40:12,baania,https://baania.com/th/project/บี-วิลล่า-ขอนแก่...
23286,11718.0,62203b58c1620300140bc3cd,The Home Assets Nongyai Phase 2,เดอะ โฮม แอสเซ็ท หนองใหญ่ เฟส 2,1,Detached House,บ้าน,2690000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,NaN,2022-03-03 10:51:52,NaN,2022-03-03 12:30:05,baania,https://baania.com/th/project/เดอะ-โฮม-แอสเซ็ท...
23288,12639.0,5ea283d578b3120012dd4c96,Urbana Ville @Chum Phae,เออบาน่าวิลล์ @ชุมแพ,1,Detached House,บ้าน,1990000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,1.0,2020-04-24 13:14:45,NaN,2022-02-11 15:30:03,baania,https://baania.com/th/project/เออบาน่าวิลล์-ชุ...
23337,1502.0,project_1961,Baan Sapsin Phun Thawi,บ้านทรัพย์สินพูนทวี,1,Detached House,บ้าน,2490000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,1.0,2016-08-31 11:05:45,1970-01-02 07:00:00,2020-12-04 10:45:29,baania,https://baania.com/th/project/บ้านทรัพย์สินพูน...
23357,9113.0,5fa3b6c5a3326800191e2bb0,Icon Villa Phase 8,ไอคอน วิลล่า เฟส 8,1,Detached House,บ้าน,3290000.0,5fa3ab92d0235b0019c196cc,"Icon Villa Group Co., Ltd.",...,NaN,NaN,NaN,NaN,NaN,2020-11-05 15:24:37,2021-01-01 07:00:00,2022-02-22 15:30:03,baania,https://baania.com/th/project/ไอคอน-วิลล่า-เฟส...

Quiz แบบ เจาะจงคน

1. โครงการที่ขอนแก่น กับ อุดร อันไหนแพงกว่ากัน
2. เปรียบเทียบพื้นที่เฉลี่ยของโครงการบ้านที่ ขอนแก่น กับ กทม
3. เปรียบเทียบราคาโครงการบ้าน๙คอนโด ในจังหวัดขอนแก่น และจังหวัดโคราช
4. (เก็บไว้ก่อน) จังหวัดไหนมีโครงการบ้าน (คอนโด) มากที่สุด
5. ราคาเฉลี่ยของโครงการใน อุดร ขอนแก่น+โคราช+เทียบกับ เชียงใหม่+เชียงราย
6. ให้สร้าง boxplot ของราคาบ้านในจังหวัดขอนแก่น เทียบกับ คอนโด
7. บ้านในภาค เหนือ ใต้ อีสาน ที่ไหนแพงสุด ถูกสุด (เลือกจังหวัดที่เป็นตัวแทนภาคมา ภาคละ 2 จังหวัด)
8. ความหลากหลายของโครงการในขอนแก่น เทียบกับ ชลบุรี (property type name)


1. โครงการที่ขอนแก่น กับ อุดร อันไหนแพงกว่ากัน

In [69]:
project_df4[project_df4['province_name_th']=='อุดรธานี'].describe()

,row_number,latitude,longitude,subdistrict_id,district_id,province_id,zipcode,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
project_df4[project_df4['province_name_th']=='ขอนแก่น'].describe()

,row_number,latitude,longitude,subdistrict_id,district_id,province_id,zipcode,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
count,617.000000,617.000000,617.000000,612.000000,617.000000,617.0,611.000000,448.000000,300.000000,98.000000,128.000000,41.000000,189.000000,79.000000,129.000000,302.000000
mean,11941.128039,16.435508,102.776369,2671.594771,2646.713128,2637.0,40018.186579,83.301339,2.453333,0.806122,0.898438,0.365854,0.878307,0.683544,0.899225,0.930464
std,6882.031901,0.117633,0.145171,50.694223,31.068583,0.0,57.340152,113.591839,1.758255,0.397367,0.303259,0.487652,0.327799,0.468065,0.302204,0.254786
min,26.000000,15.730169,102.056206,2639.000000,2638.000000,2637.0,40000.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6026.000000,16.413031,102.768584,2648.000000,2638.000000,2637.0,40000.000000,8.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000
50%,12372.000000,16.449027,102.809897,2652.000000,2638.000000,2637.0,40000.000000,42.500000,2.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,17861.000000,16.481285,102.839925,2653.000000,2638.000000,2637.0,40000.000000,104.250000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,23398.000000,16.862644,103.084464,2851.000000,2850.000000,2637.0,40320.000000,983.000000,15.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000